<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-12 p-xl-4">
                    <div class="card overview-box-1 blue">
                        <div class="card-header">
                            <h6>Livro</h6>
                            <div class="header-buttons">
                                <a href="#"><i class="pi pi-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="overview-content">
                            <button pButton pRipple type="button" label="Visualizar" routerLink="uikit/media"
                                class="p-button-raised p-button-outlined p-mr-2 p-mb-2"></button>
                            <div class="overview-graph">
                                <span style="height: 20px;"><span class="graph-tooltip">nao</span></span>
                                <span style="height: 30px;"><span class="graph-tooltip">sei</span></span>
                                <span style="height: 40px;"><span class="graph-tooltip">oq</span></span>
                                <span style="height: 50px;"><span class="graph-tooltip">e </span></span>
                                <span style="height: 40px;"><span class="graph-tooltip">tudo</span></span>
                                <span style="height: 30px;"><span class="graph-tooltip">isso </span></span>
                                <span style="height: 20px;"><span class="graph-tooltip">kakak</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-12 p-xl-4">
                    <div class="card overview-box-1 teal">
                        <div class="card-header">
                            <h6>Fotos</h6>
                            <div class="header-buttons">
                                <a href="#"><i class="pi pi-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="overview-content">
                            <button pButton pRipple type="button" label="Visualizar" routerLink="uikit/list"
                                class="p-button-raised p-button-outlined p-mr-2 p-mb-2"></button>
                            <div class="overview-graph">
                                <span style="height: 20px;"><span class="graph-tooltip">voce</span></span>
                                <span style="height: 30px;"><span class="graph-tooltip">e</span></span>
                                <span style="height: 48px;"><span class="graph-tooltip">mt</span></span>
                                <span style="height: 50px;"><span class="graph-tooltip">stalker</span></span>
                                <span style="height: 60px;"><span class="graph-tooltip">mds kk </span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-12 p-xl-4">
                    <div class="card  overview-box-1 orange">
                        <div class="card-header">
                            <h6>Sites</h6>
                            <div class="header-buttons">
                                <a href="#"><i class="pi pi-arrow-up"></i></a>
                            </div>
                        </div>
                        <div class="overview-content">
                            <button pButton pRipple type="button" label="Visualizar"
                                class="p-button-raised p-button-outlined p-mr-2 p-mb-2"></button>
                            <div class="overview-graph">
                                <span style="height: 20px;"><span class="graph-tooltip">esse</span></span>
                                <span style="height: 23px;"><span class="graph-tooltip">vale</span></span>
                                <span style="height: 52px;"><span class="graph-tooltip">a</span></span>
                                <span style="height: 18px;"><span class="graph-tooltip">pena</span></span>
                                <span style="height: 28px;"><span class="graph-tooltip">smc</span></span>
                                <span style="height: 42px;"><span class="graph-tooltip">clica no botao</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-12 p-xl-12">
                    <div class="card sale-graph">
                        <div class="card-header">
                            <h6>Só euyeah</h6>
                        </div>
                        <div class="overview-chart">
                            <img src="./../../../assets/demo/images/me/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-2">
            <div class="card leaderboard">
                <div class="card-header">
                    <h6>Links</h6>
                </div>
                <ul>
                    <li>
                        <div class="seller">
                            <button pButton pRipple type="button" icon="pi pi-facebook"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                    <li>
                        <div class="person">
                            <button pButton pRipple type="button" icon="pi pi-github"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                    <li>
                        <div class="person">
                            <button pButton pRipple type="button" icon="pi pi-twitter"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                    <li>
                        <div class="person">
                            <button pButton pRipple type="button" icon="pi pi-youtube"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="card sellers">
                <div class="card-header">
                    <h6>Notas pessoais - Sites</h6>
                </div>
                <ul>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-1.png" alt="poseidon-layout" />
                            <p>Porfolio</p>
                        </div>
                        <span style="width: 200px;text-align: center;">(site pessoal e tal sabe tipo minhas coisas
                            profissional :x)</span>
                        <p-rating [(ngModel)]="val3" readonly="true" stars="5"></p-rating>
                        <p-menu #menu1 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-2.png" alt="poseidon-layout" />
                            <p>UI / UX - Techer</p>
                        </div>
                        <span style="width: 200px; text-align: center;">(esse é tesão smcd)</span>
                        <p-rating [(ngModel)]="val4" readonly="true" stars="5"></p-rating>
                        <p-menu #menu2 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"
                            routerLink=""></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-3.png" alt="poseidon-layout" />
                            <p>Games Click</p>
                        </div>
                        <span style="width: 200px;text-align: center;">(favorito // mentira é esse aq</span>
                        <p-rating [(ngModel)]="val5" readonly="true" stars="5"></p-rating>
                        <p-menu #menu3 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-3.png" alt="poseidon-layout" />
                            <p>Games Click</p>
                        </div>
                        <span style="width: 200px;text-align: center;">(favorito // mentira é esse aq</span>
                        <p-rating [(ngModel)]="val5" readonly="true" stars="5"></p-rating>
                        <p-menu #menu3 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-2">
            <div class="card leaderboard">
                <div class="card-header">
                    <h6>Links</h6>
                </div>
                <ul>
                    <li>
                        <div class="seller">
                            <button pButton pRipple type="button" icon="pi pi-facebook"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                        <p-menu #menu1 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-eye" class="p-button p-button-outlined"></button>
                    </li>
                    <li>
                        <div class="person">
                            <button pButton pRipple type="button" icon="pi pi-github"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <button pButton pRipple type="button" icon="pi pi-twitter"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <button pButton pRipple type="button" icon="pi pi-youtube"
                                class="p-button-rounded p-button-outlined p-mr-2 p-mb-2"></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>